.background {
    background: url("../images/plans-background.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
}

main {
    padding-top: 32px;
}

.package {
    font: inherit;
    background-color: #d5ffdc;
    border: 4px solid #0e4f1f;
    margin: 16px 0;
    padding: 32px;
    width: 80%;
}

.package:hover,
.package:active {
    border-color: #ff4545;
    box-shadow: 2px 2px 4px rgb(0,0,0,0.5);
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.pack__subtitle {
    color: #979797;
}

.pack__info{
    background-color: white;
    color: #0e4f1f;
    border: 2px solid #0e4f1f;
    padding: 20px;
}


#plus {
    background-color: rgb(213, 255, 220, 0.95);
}

#free {
    background-color: rgb(234, 252, 237, 0.95);
    float: right;
    text-align: right;
}

.helper {
    clear:both;
}

#premium {
    background-color: rgb(14, 79, 31, 0.95);
}

#premium .pack__title {
    color: white;
}

#premium .pack__subtitle {
    color: #bbb;
}
